body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lista-autos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lista-autos .item{
  width: 20%;
  min-width: 5rem;
  max-width: 8rem;
}