<body>
    <h1>Este es el Header</h1>
    <ul>
        <li>
            <a>Todos</a>
        </li>
        <li>
            <a href="/autos/products">Por Color</a>
        </li>
        <li>
            <a>Por Marca</a>
        </li>
        <li>
            <a>Por Año</a>
        </li>
    </ul>