<%- include('./partials/head') %>
<%- include('./partials/header') %>


<section>
    <article>
        <div>
            <h1>Perfil</h1>
        </div>
        <h1>Nombre del usuario</h1>
        <p>Descripción del curso</p>
        <div>
            <a href="./profile-edit.html">Editar perfil</a>
        </div>
    </article>
</section>

<%- include('./partials/footer') %>