<%- include('./partials/head') %>
<%- include('./partials/header') %>


<section>
    <h1>Editar mi perfil</h1>
    <form action="" method="POST">
        <div>
            <input type="text" placeholder="Este va ser el nombre del usuario">
        </div>
        <div>
            <input type="text" placeholder="Esta va a ser el mail del usuario">
        </div>
        <button>
            Editar
        </button>
    </form>

</section>

<%- include('./partials/footer') %>