<%- include('./partials/head') %>
<%- include('./partials/header') %>


<section>
    <article>
        <div>
            <h1>Perfil</h1>
        </div>
        <h1>Nombre del usuario</h1>
        <p>Descripción del curso</p>
        <div>
            <a href="/users/edit-profile">Editar perfil</a>
        </div>
        <form action="/users/delete/" method="POST">
            <input type="submit" value="Borrar cuenta" />
        </form>
    </article>
</section>

<%- include('./partials/footer') %>